.height-300{
  height: 300px;
}

.left{
  border-right: 1px dashed #333;
}

.timeline-chart{
  top: 125px;
}

.top-10{
  padding-top: 10px;
}

.list-group{
  margin-bottom: 0px;
}

.pad-10{
  padding: 10px 10px 10px 10px;
}