<%= form_for(@activity) do |f| %>
    <blockquote>
      <p>
      <span class="field clearfix">
        Start Time (HH:mm):
        <%= f.text_field :start_time, :autofocus => true %>
        </span>
      </p>

      <p>
    <span class="field">
      Activity Type:
      <%= f.collection_select(:activity_type_id, @activity_types, :id, :name, prompt: true) %>
    </span>
      </p>

      <div class="actions">
        <%= f.submit %>
      </div>
    </blockquote>
<% end %>
